mixin sessions(speaker)
  if speaker.solo
    li
      .session(id=speaker.session_anchor)
        .session-speaker
          .speaker
            .speaker-image
              img(src=speaker.image alt=`${speaker.name}の画像` loading='lazy')
            .speaker-body
              p.speaker-name= speaker.name
              p.speaker-title
                span.speaker-job= speaker.job
                span.speaker-org= `at ${speaker.org}`
              if speaker.twitter
                p.speaker-url
                  span Twitter:
                  a(href=`//twitter.com/${speaker.twitter}`)= speaker.twitter
              if speaker.github
                p.speaker-url
                  span GitHub:
                  a(href=`//github.com/${speaker.github}`)= speaker.github
        .session-body
          .session-title
            span= speaker.session_title
          .session-summary !{speaker.session_summary.replace(/\r?\n|\r/g,"<br>")}
            ul.session-handout
              if speaker.slideUrl
                li
                  a(href=`${speaker.slideUrl}` target="_blank" rel="noopener").Button.-seminar スライド
              if speaker.slidoId
                li
                  a(href=`https://app2.sli.do/event/${speaker.slidoId}/live/questions` target="_blank" rel="noopener").Button.-ama AMA一覧
