mixin speakers(speaker)
  li
    .speaker
      a(href=`speakers#${speaker.session_anchor}`).speaker-image
        img(src=speaker.image alt='Felix Riesebergの画像')
      p.speaker-name= speaker.name
      p.speaker-title= speaker.job
        span.speaker-org= `at ${speaker.org}`
